{% extends 'base.html.twig' %}

{% block title %}Edit Soignant{% endblock %}

{% block body %}
    <h1>Edit Soignant</h1>

    {{ include('soignant/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_soignant_index') }}">back to list</a>

    {{ include('soignant/_delete_form.html.twig') }}
{% endblock %}
